EXECUTOR_EOA_PRIVATE_KEY=
USER_EOA_PRIVATE_KEY=
JSON_RPC_URL=
CONSOLE_API_KEY=
CONSOLE_BASE_URL=https://dev.console.fi/v1/vendor
EXECUTOR_CLIENT_ID=

EXECUTOR_REGISTRY_ID=
OPENAI_API_KEY=
SWELL_RPC_URL=https://swell-mainnet.alt.technology
MODE_RPC_URL=https://mainnet.modefi.io
PORT=3000
CHAIN_ID=1923


Enso_DeFi=
ENSO_API_KEY=
WALLET_ADDRESS=